<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="https://autoparts-project1.herokuapp.com/">E-autoparts</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
          if !user
            <li class="nav-item active">
              <a class="nav-link" href="/user">Register</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/user/login">Login</a>
            </li>
          if user
            <li class="nav-item active">
              <a class="nav-link" href="https://autoparts-project1.herokuapp.com/"></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/products"></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/wishs"></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/products/cart"></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/user/logout">Logout</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="https://heroko-crud-assignment3.herokuapp.com/" target="_blank">Go To Main Menu</a>
            </li>
        </div>
</nav>
